<div style="margin-right:10px" class="btn-group">
    TODO
    <a type="button" class="btn btn-info" (click)="back()" title="Назад">&lt;</a>
    <a type="button" class="btn btn-info" href="#/map" title="Карта"><i class="fa fa-map-marker fa-lg" style="margin:0"></i></a>
    <a type="button" class="btn btn-info" href="#/reports" title="Отчеты"><i class="fa fa-table fa-lg" style="margin:0"></i></a>
    <a type="button" class="btn btn-info" href="#/config" title="Настройки"><i class="fa fa-gears fa-lg" style="margin:0"></i></a>
    <a type="button" class="btn btn-info" href="#/" title="Пользователь"><i class="fa fa-user fa-lg" style="margin:0"></i></a>
    <a type="button" class="btn btn-info" href="#/help" title="Помощь"><i class="fa fa-medkit fa-lg" style="margin:0"></i></a>
</div>
